.container {
  width: 400px;
  margin: 40px auto 0;
  padding: 50px;
  box-sizing: border-box;
  background: url('https://image.freepik.com/free-photo/white-texture_1160-786.jpg')
    top left repeat;
  background-size: cover;
  box-shadow: 0 10px 15px -8px #000;
  border-radius: 10px;
  text-align: center;
}
